:root {
  --vp-c-teal-1: #287f94;
  --vp-c-teal-2: #1e6b80;
  --vp-c-teal-3: #459db2;

  --vp-c-teal-soft: rgba(100, 237, 255, 0.14);
}

.dark {
  --vp-c-teal-1: #a8efff;
  --vp-c-teal-2: #5cd4e7;
  --vp-c-teal-3: #3eb8dd;
  --vp-c-teal-soft: rgba(100, 229, 255, 0.16);
}

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-teal-1);
  --vp-c-brand-2: var(--vp-c-teal-2);
  --vp-c-brand-3: var(--vp-c-teal-3);
  --vp-c-brand-soft: var(--vp-c-teal-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

:root {
  -vp-c-text-1: rgba(42, 40, 47);
  -vp-c-text-2: rgba(42, 40, 47, 0.78);
  -vp-c-text-3: rgba(42, 40, 47, 0.56);
  --black-text-1: rgba(42, 40, 47);
}

.dark {
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

.dark {
  --vp-button-brand-text: var(--black-text-1);
  --vp-button-brand-bg: var(--vp-c-brand-2);
  --vp-button-brand-hover-text: var(--black-text-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-1);
  --vp-button-brand-active-text: var(--black-text-1);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #3374e4 30%, #47fff6);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #3374e4 50%, #47fff6 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

.vp-doc a {
  color: var(--vp-c-brand-1);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  transition: text-decoration-color 0.25s;
}

.vp-doc a:hover {
  color: var(--vp-c-brand-1);
  text-decoration-color: var(--vp-c-brand-1);
  -webkit-text-decoration-color: var(--vp-c-brand-1);
}

.vp-doc .custom-block a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: solid;
}

::selection {
  background-color: var(--vp-button-brand-bg);
}

.VPFooter a {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  transition: 0.3s;
}

.VPFooter a:hover {
  color: var(--vp-c-text-1);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
}

/* Custom scrollbar */
.VPSidebar::-webkit-scrollbar {
  block-size: 4px;
  border-end-end-radius: 14px;
  border-start-end-radius: 14px;
  inline-size: 4px;
}

.base64 {
  min-width: 100%;
  width: 0px;
  white-space: pre-wrap;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--vp-c-brand-1);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px var(--vp-c-brand-1),
    0 0 5px var(--vp-c-brand-1);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--vp-c-brand);
  border-left-color: var(--vp-c-brand);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
