h1 {
    text-align: center;
}

/* Icons */
html.dark ul.flex-col > li > a > svg {
  color: white !important;
}

:not(html.dark) ul.flex-col > li > a > svg  {
  color: rgb(47 51 72/var(--tw-text-opacity));
}
